<configuration>
	<contextName>zebraErp</contextName>

	<!-- 定义控制台 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- <pattern>%level %logger{55} - %msg%n</pattern> -->
			<pattern>%d{MMdd.HHmmss} [%-22t] %-5p L:%-3L %-22c{0} - %m%n
			</pattern>
		</encoder>
	</appender>


	<!-- 定义文件日志输出 -->
	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/app/logs/zebraerp/zebraerp-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>90</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] [%level] %logger - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>

<!-- 	<logger name="com.zebra" level="debug">
		<appender-ref ref="file" />
	</logger> -->
</configuration>